body {
  text-align: center;
  background-color: rgb(201, 231, 231);
}

label {
  padding-right: 20px;
}

input,
select,
button {
  margin: 10px 0px;
}

input[type="number"],
select {
  border-radius: 10px;
  padding: 3px 0px;
  text-align: center;
}

select {
  width: 250px;
}

button[type="submit"] {
  border-radius: 10px;
  width: 150px;
  padding: 3px 0px;
  background-color: burlywood;
}

table {
  display: inline-block;
  border-collapse: collapse;
  margin: 20px;
}

th,
td {
  border: 1px solid black;
  width: 200px;
  padding: 10px 0px;
}
