body {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-transform: uppercase;
}

th,
td {
  border: 2px solid black;
  width: 150px;
}

th {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: cornflowerblue;
}

tr:nth-child(even) {
  background-color: #aaa;
}

tfoot td {
  background-color: white;
  font-weight: bold;
}

label {
  font-size: large;
}

input,
button {
  border-radius: 10px;
  width: 150px;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

#fruits {
  width: 200px;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

button[type="submit"] {
  background-color: cornflowerblue;
}
