body {
  background-color: teal;
  text-align: center;
}

label {
  font-size: large;
}

input,
button {
  border-radius: 10px;
  padding: 5px;
  margin: 20px;
  width: 150px;
}

input {
  text-align: center;
}

button {
  background-color: blanchedalmond;
}
