body {
  background-color: rgb(58, 234, 61);
  text-align: center;
}

h2 {
  text-transform: uppercase;
  text-decoration: underline;
}

input[type="file"]::file-selector-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Survol du bouton de chargement du fichier */
input[type="file"]::file-selector-button:hover {
  background-color: red;
}

button {
  background-color: #39abd4;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}

/* Styles de la table */
.ma-table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: aquamarine;
}

/* Bordures */
.ma-table,
.ma-table th,
.ma-table td {
  border: 1px solid #ccc;
}

/* En-tête */
.ma-table th {
  background-color: aquamarine;
  padding: 12px;
  text-align: left;
  font-weight: bold;
  text-align: center;
}

/* Cellules */
.ma-table td {
  padding: 10px;
}

/* Alternance des lignes */
.ma-table tr:nth-child(even) {
  background-color: #c2bf12;
}

/* Effet hover */
.ma-table tr:hover {
  background-color: #eef;
}

/* Style du menu déroulant */
.ma-table select {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #999;
  background-color: aqua;
}
