body {
  background-color: teal;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  text-decoration: underline;
}

input[type="file"]::file-selector-button {
  border-radius: 5px;
}

table {
  margin: auto;
  padding: 50px;
}
