<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les sorties</title>
    <link rel="stylesheet" href="/static/styleD002.css">
</head>

<body>

    <h1>Chapitre II : Les sorties</h1>

    <form action="/" method="post">

        <label for="first_name">Veuillez donner votre prénom : </label>
        <input type="text" name="first_name" required><br>
        <button type="submit">Valider</button>

    </form>
</body>

</html>