<!-- Page URL de téléchargement du fichier EXCEL traité -->

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">

    <!-- Titre de l'onglet -->
    <title>Traitement terminé</title>

    <!-- Lien pour le fichier CSS -->
    <link rel="stylesheet" href="/static/styleB006.css">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Titre principal de la page @ -->
    <h2>✅ Traitement terminé</h2>

    <!-- Texte -->
    <p>Votre fichier est prêt</p>

    <!-- Route /download -->
    <a href="/download" download="resultat.xlsx">📥 Télécharger le fichier</a><br><br>

    <!-- Bouton de retour vers le formulaire (route /)-->
    <form action="/" method="get">
        <button type="submit">🔄 Revenir au formulaire</button>
    </form>

</body>

</html>