<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">

    <!-- Titre de l'onglet -->
    <title>Essai avec la librairie fastapi</title>

    <!-- Lien au fichier CSS -->
    <link rel="stylesheet" href="/static/styleB003.css">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Titre et texte -->
    <h1 class='title'>Essai avec fastapi</h1>
    <p class="text">Chemin d'accès de l'URL : <span class="url">{{ request.url }}</span></p>

    <!-- Récupération de la méthode post_hello() -->
    <form method="post">
        <!-- Zone de saisie -->
        <input class='entry' type="text" name="message" value="Votre nom" required>
        <br>
        <br>
        <!-- Bouton -->
        <button class='button' type="submit">Valider</button>
    </form>

    <!-- Message est à afficher... -->
    {% if message%}
    <p class='text'>{{ message }}</p>
    {% endif %}

</body>

</html>