<!-- Page URL des erreurs du fichier chargé -->

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">

    <!-- Titre de l'onglet -->
    <title>Erreur</title>

    <!-- Lien pour le fichier CSS -->
    <link rel="stylesheet" href="/static/styleB006.css">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Titre principal de la page @ -->
    <h2 style="color: red;">Erreur</h2>

    <!-- Message d'erreur -->
    <p>{{ message }}</p>

    <!-- Bouton de retour vers le formulaire (route /)-->
    <form action="/" method="get">
        <button type="submit">🔄 Revenir au formulaire</button>
    </form>
</body>

</html>