<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">

    <!-- Titre de l'onglet -->
    <title>Test avec fastapi et pickle</title>

    <!-- Lien vers le fichier CSS -->
    <link rel="stylesheet" href="static/styleB008.css">
</head>

<body>
    <!-- Titre principal de la page @ -->
    <h1>Combinaison des librairies fastapi et pickle</h1>

    <!-- Route POST méthode post_upload() -->
    <form action="/upload" method="post" enctype="multipart/form-data">

        <!-- Bouton de récupération du fichier Excel -->
        <input type="file" name="import_file" accept=".xlsx" required>

        <!-- Bouton de chargement du fichier récupéré -->
        <button type="submit">Charger</button>
    </form>

</body>

</html>