<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">

    <!-- Titre de l'onglet -->
    <title>Erreur</title>

    <!-- Lien avec le fichier CSS -->
    <link rel="stylesheet" href="static/styleB008.css">
</head>

<body>

    <!-- Titre principal de la page @ -->
    <h2 style="color : red">Erreur</h2>

    <!-- Message d'erreur -->
    <p>{{ message }}</p>

    <!-- bouton de retour vers la page @ par défaut -->
    <form action="/" method="get">
        <button type="submit">🔄 Revenir au formulaire</button>
    </form>
</body>

</html>